/* Fuentes Importadas */

@font-face{

    font-family: "Outfit";
    src: url(../ASSETS/FONT/Outfit-VariableFont_wght.ttf);
}

@font-face{

    font-family: "Outfit-Light";
    src: url(../ASSETS/FONT/static/Outfit-Light.ttf);
}

/* Contenedor*/

.contenedor{

    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    padding: 2%;
    margin-top: 0% !important;;
    
}

/* Cuerpo de la Pagina */

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: url(../IMG/M2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1F1F1F;
    color: #ffffff;
    

}


/* Test */


