/* Fuentes Importadas */

@font-face{

    font-family: "Outfit";
    src: url(../ASSETS/FONT/Outfit-VariableFont_wght.ttf);
}

@font-face{

    font-family: "Outfit-Light";
    src: url(../ASSETS/FONT/static/Outfit-Light.ttf);
}

/* Animaciones */

.derecha{
    transform: translateX(20px);
}

.izquierda{
    transform: translateX(-20px);
}

.arriba{
    transform: translateY(-20px);
}

.animacion{

    opacity: 0;
    transition: all 0.8s ease-out;

}

.animacion.visible{

    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);

}

/* Boton */

.btn{

    background-color: #C19A6B;
    --bs-btn-hover-bg: #a5855f;
    --bs-btn-border-radius: 45px;
}

#btn1{

    width: 15%;

}

/* Imagenes */

.img-fluid{

    border-radius: 15px;

}

/* Barra de Navegacion */

.navbar{

    font-family: Outfit-Light;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out color;
 
}

.nav-item{

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.nav-link.active:hover{

    color: #C19A6B;

}

.dropdown-item:hover{

    color: #C19A6B;

}

.navbar-expand-lg .navbar-nav {

    align-items: center;
    text-align: -webkit-center;

}

/* Cuerpo de la Pagina */



/* Contenedor de los Bloques (Sections) */

.contenedor{

    color: #ffffff;
    font-family: Outfit;
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    gap: 0; /* Sin espacio entre los elementos */

}

/* Bloque Principal*/

.bloqueprincipal{

    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    display: flex;
    align-items: center;

    background-image: url(../IMG/M2.jpg);
    background-repeat: no-repeat;

    background-size: cover;

}

/* Bloques */

.bloque{

    background-color: #1F1F1F;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 6%;
    

}

/* Divbloques */

.divbloque{

    display: flex;
    align-items: center;
    
}

/* Divespacio */

#divespacio{

    margin-right: 5%;

}

/* Informacion en Detalle de los Productos */

.modal-content {
  border-radius: 18px;
  overflow: hidden;
  background-color: #212529;
  font-family: Outfit-Light;

}

.modal-title {
  color: #C19A6B;
  font-weight: 600;
  text-align: center;

}

#modalDescripcion {
 
  padding-top: 15px;
  line-height: 1.6;
  color: white !important;
}

/* Animacion de los Productos */

.producto {
  cursor: pointer;
}

.producto:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

/* Boton de Contacto */

#contacto-btn{

    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 12px 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 9999; /* 🔹 muy alto para que quede encima de todo */


}

/* Panel de Informacion */

#contacto-panel {
        position: fixed;
        bottom: 80px;
        right: 25px;
        border-radius: 12px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.3);
        padding: 20px;
        padding-top: 40px;
        background-color: #212529;
        width: 260px;
        z-index: 1000;
        animation: fadeIn 0.3s ease;
        color: white;
}

@keyframes fadeIn {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
}

#cerrar-contacto {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 30px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

#cerrar-contacto:hover {
    color: #000;
}

/* Pie de Pagina*/

.footer{

    text-align: center;
    justify-content: center;
    background-color: #212529 ;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;

}

/* Responsive */

/* 
    Para el que no entienda que remil poronga es esto basicamente
    el @media y x resolucion de ancho , sirve para modificar ciertos estilos
    a partir de la resolucion que vos pusiste

    Att - Cacho

*/

@media (max-width: 1300px) {
    
    .bloqueprincipal{

        padding-top: 10%;

    }

}

@media (max-width: 1200px) {
    
    .bloqueprincipal{

        padding-top: 12%;

    }

    .col-lg-4{

        margin-top: 2%;

    }

}

@media (max-width: 991px) {
    
    .col-lg-4{

        margin-top: 8%;

    }

}

@media (max-width: 900px) {
    
    .bloqueprincipal{

        display: inline;
        text-align: center;
        padding-bottom: 10%;

    }

    .bloque{

        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;

    }

    .divbloque{

        display: inline;
        text-align: center;

    }

    #divespacio{

        margin-right: 0%;

    }

    #img1{

        width: 70%;
        margin-top: 5%;

    }

    #img2{

        margin-bottom: 10%;
        
        
    }

    #img3{

        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .col-lg-4{

        margin-top: 10%;

    }

    .footer{

        padding-top: 10%;

    }

}

@media (max-width: 800px) {
    
    .bloqueprincipal{

        padding-top: 15%;

    }

    #btn1{

        width: 50%;

    }
    

}

@media (max-width: 500px) {
    
    .bloqueprincipal{

        padding-top: 25%;
        padding-bottom: 15%;
        

    }

    #img1{

        width: 100%;

    }

    #img2{

        margin-top: 10%;

    }

    #img3{

        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    #btn1{

        width: 100%;

    }

    .col-lg-4{

        margin-top: 15%;

    }

    #contacto-btn{

        right: 10px;

    }

    
}

/* Test */


