/* Fuentes Importadas */

@font-face{

    font-family: "Outfit";
    src: url(../ASSETS/FONT/Outfit-VariableFont_wght.ttf);
}

@font-face{

    font-family: "Outfit-Light";
    src: url(../ASSETS/FONT/static/Outfit-Light.ttf);
}

/* Boton */

.btn{

    background-color: #C19A6B;
    --bs-btn-hover-bg: #a5855f;
    --bs-btn-border-radius: 45px;
}

/* Imagenes */

.img-fluid{

    border-radius: 15px;

}

/* Barra de Navegacion */

.navbar{

    font-family: Outfit-Light;
    transition: 200ms ease-in-out background-color,
                200ms ease-in-out color;
 
}

.nav-item{

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

.nav-link.active:hover{

    color: #C19A6B;

}

.dropdown-item:hover{

    color: #C19A6B;

}

.navbar-expand-lg .navbar-nav {

    align-items: center;
    text-align: -webkit-center;

}

/* Cuerpo de la Pagina */

body{

    background-image: url(../IMG/M2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/* Contenedor de los Bloques (Sections) */

.contenedor{

    color: #ffffff;
    font-family: Outfit;
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    gap: 0; /* Sin espacio entre los elementos */

}

/* Bloque Principal*/

.bloqueprincipal{

    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    display: flex;
    align-items: center;

}

/* Bloques */

.bloque{

    background-color: #1F1F1F;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 6%;
    

}

/* Columnas */ 

.col-lg-4{

    margin-bottom: 5%;

}

/* Divbloques */

.divbloque{

    display: flex;
    align-items: center;
    
}

/* Pie de Pagina*/

.footer{

    text-align: center;
    justify-content: center;
    background-color: #212529 ;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;

}

/* Responsive */

/* 
    Para el que no entienda que remil poronga es esto basicamente
    el @media y x resolucion de ancho , sirve para modificar ciertos estilos
    a partir de la resolucion que vos pusiste

    Att - Cacho

*/

@media (max-width: 1300px) {
    
    .bloqueprincipal{

        margin-top: 10%;

    }

}

@media (max-width: 1200px) {
    
    .bloqueprincipal{

        margin-top: 12%;

    }

    #titulo{

        margin-top: 3%;

    }

    #texto{

        margin-top: 3%;
        margin-bottom: 6%;

    }

}

@media (max-width: 900px) {
    
    .bloqueprincipal{

        display: inline;
        text-align: center;
        margin-bottom: 10%;

    }

    .bloque{

        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;

    }

    .divbloque{

        display: inline;
        text-align: center;

    }

    #titulo{

        margin-top: 5%;

    }

    #texto{

        margin-top: 5%;
        margin-bottom: 8%;

    }

    .col-lg-4{

        margin-top: 2%;

    }

    .footer{

        padding-top: 10%;

    }

}

@media (max-width: 800px) {
    
    .bloqueprincipal{

        margin-top: 15%;

    }

}

@media (max-width: 500px) {
    
    .bloqueprincipal{

        margin-top: 25%;
        margin-bottom: 15%;
        

    }

    #titulo{

        margin-top: 10%;

    }

    #texto{

        margin-top: 10%;
        margin-bottom: 12%;

    }

}

/* Test */


